**/*.log
**/*.synctex.gz
**/*.aux
**/*.DS_store
**/*.pdf
**/*.fls
**/*.fdb_latexmk
**/*.xdv
**/*.gnuplot
**/*.table
**/*.png
**/*.csv
**/*.out
**/*.nav
**/*.snm
**/*.toc
**/*.vrb
*.DSYM
input
output
tmp
tests
a_input_data
a_guttenberg_100MB
